* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

.article-wrap {
  background: #fff;
  padding: 20px;
}

.bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/*
.contact {
    text-decoration: none;
    background: #37aee2;
    width: 160px;
    height: 160px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
    font-size: 26px;
    border: 6px double #fff;
    color: #fff;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.contact:hover {
    border: 6px solid #f234d2;
    color: #f234d2;
}
*/
.popup-list-contact {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 360px !important;
  background-color: #fff !important;
  /*border-radius: 25% 75% 70% 30% / 39% 50% 50% 61% !important;*/
  border: 6px solid #4a00e0 !important;
}

.popup-list-contact .popup__close {
  /*background-color: #37aee2 !important;*/
  width: 30px;
  height: 30px;
  /*border-radius: 25% 75% 70% 30% / 39% 50% 50% 61% !important;*/
  border-radius: 10%;
}

.popup-list-contact .popup__close:before,
.popup-list-contact .popup__close:after {
  background-color: #757575 !important;
}

.column {
  width: 100%;
  max-width: 1176px;
  margin: auto !important;
  padding: 0 15px;
}

.title-h2 {
  padding: 38px 0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #152e51;
  font-family: 'Roboto', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans',
    Freesans, sans-serif;
}

.admin {
  width: 160px;
  border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid #329bbb;
  position: relative;
  left: 5%;
}
